<section class="section has-background-primary" id="app">
  <p>Updated for tsc build again</p>
  <div class="container">
    <section class="section has-text-centered">
      <div class="hero-body">
        <h1 class="title has-text-white enormous">Customers</h1>
      </div>
    </section>
    <div class="box">
      <table class="table is-striped is-hoverable">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Contact Title</th>
            <th>Address</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          {{#each customers}}
          <tr>
            <th>{{ CompanyName }}</th>
            <td>{{ ContactName }}</td>
            <td>{{ ContactTitle }}</td>
            <td>{{ Address }}</td>
            <td>{{ City }}</td>
            <td>{{ PostalCode }}</td>
            <td>{{ Country }}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>